body {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.leftsection {
  display: flex;
  width: 45%;
  min-width: 45%;
}
.form_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  margin: 20px;
  gap: 20px;
}
.input1 {
  border: 2px solid white;
  border-radius: 25px;
  color: antiquewhite;
  background-color: black;
  padding: 20px;
}
.input2 {
  border: 2px solid white;
  border-radius: 25px;
  color: antiquewhite;
  background-color: black;
  padding: 20px;
  padding-bottom: 100px;
}
.btn {
  background-color: black;
  color: antiquewhite;
  padding: 20px;
  border: 2px solid wheat;
  border-radius: 20px;
  transition: transfrom 0.1s;
}

.btn:active {
  transform: scale(0.9);
}

.rightsection h1 {
  color: wheat;
}

.rightsection {
  border-left: 1px solid white;
  padding-left: 20px;
}
.rightsection h1 {
  font-size: 32px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card_section {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  height: 100%;
  overflow: auto;
}
.Recent_card {
  background-color: white;
  width: 200px;
  height: 268px;
  border-radius: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}
.card_title {
  margin: 10px 10px 0px 0px;
  padding: 10px 10px 0px 0px;
  padding-left: 12px;
  font-family: sans-serif;
  line-height: 17px;
  font-weight: 900;
}
.card_content {
  margin: 0px;
  padding-left: 12px;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 17px;
}
.delete_btn {
  padding: 3px;
  margin: 8px;
  border-radius: 7px;
  background-color: red;
  margin-left: 68px;
}
